
profiles {

	standard {
		docker.enabled = false
		singularity.enabled = true
		singularity.autoMounts = false
		singularity.runOptions = "-B /mnt"
   		report.enabled = true
		process {
			executor = 'local'
			container = "iferres/porefile:latest"
			withLabel: small_cpus {
				cpus = 1
			}
			withLabel: small_mem {
				memory = 4.Gb
			}
		  withLabel: big_cpus {
			  cpus = 4
		  }
		  withLabel: big_mem {
			  memory = 16.Gb
		  }
		}
	}

	nagual {
		singularity.enabled = true
		singularity.autoMounts = false
		singularity.runOptions = "-B /mnt/ubi"
		process {
			executor = 'local'
			container = "iferres/porefile:latest"
		  withLabel: small_cpus {
			  cpus = 1
		  }
		  withLabel: small_mem {
			  memory = 2.Gb
		  }
		  withLabel: big_cpus {
			  cpus = 8
			  maxForks = 2
		  }
		  withLabel: big_mem {
			  memory = 32.Gb
		  }
		}
	}

	gcp {
		docker.enabled = true
		process {
			executor = "google-lifesciences"
			container = "iferres/porefile:latest"
			errorStrategy = { task.exitStatus==14 ? 'retry' : 'terminate'}
			scratch = true
			maxRetries = 3
			withLabel: small_cpus {
				cpus = 1
			}
			withLabel: small_mem {
				memory = 2.Gb
			}
			withLabel: big_cpus {
				cpus = 8
			}
			withLabel: big_mem {
				memory = 16.Gb
			}
		}
		google {
			project = "sound-mantra-259215"
			region = "us-central1"
			lifesciences.preemptible = true
		}
	}

}
