
process.container = "ghcr.io/microgenlab/porefile:1.0.0"

profiles {

	docker {
		docker.enabled = true
		docker.temp = 'auto'
	}

	singularity {
		singularity.enabled = true
		singularity.autoMounts = true
	}

	podman {
		podman.enabled = true
	}


	standard {
		docker.enabled = true
		withLabel: small_cpus {
			  cpus = 1
		  }
		  withLabel: small_mem {
			  memory = 2.Gb
		  }
		  withLabel: big_cpus {
			  cpus = 8
		  }
		  withLabel: big_mem {
			  memory = 32.Gb
		  }
	}

	test { includeConfig 'conf/test.config'}
	nagual {includeConfig 'conf/nagual.config'}
}


