singularity.enabled = true
singularity.autoMounts = true
process {
	executor = 'local'
    withLabel: small_cpus {
	    cpus = 1
    }
    withLabel: small_mem {
	    memory = 2.Gb
    }
    withLabel: big_cpus {
	    cpus = 8
	    maxForks = 2
    }
    withLabel: big_mem {
	    memory = 32.Gb
    }
    withName: Minimap2 {
	    cpus = 16
	    maxForks = 1
    }
}