singularity.enabled = true
    process {
        executor = 'local'
        container = "iferres/porefile:dev"
    withLabel: small_cpus {
        cpus = 1
    }
    withLabel: small_mem {
        memory = 4.Gb
    }
    withLabel: big_cpus {
        cpus = 4
    }
    withLabel: big_mem {
        memory = 16.Gb
    }
}